*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --lightgrey: #4a4c50;
    --grey: #313b4c;
    --darkgrey: #171a20;
    --white:#f6f6f6;
    --black:#242424;
    --lightred:#f43c3c;
    --red:#b81010;
    --darkred:#720606;
    --crimson:#dc143c;
    --lightblue:#17b7d3;
    --blue:#3a1bb7;
    --darkblue:#030563;
    --yellow:#ffef0e;
    --lightgreen:#25ff2c;
    --green:#22a801;
    --darkgreen:#104701;
    --purple:#9b04bd;
    --white:#f6f6f6;
    --white:#f6f6f6;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: var(--lightgrey);
}
.headerheight{
    width: 100%;
    height: 50px;
}
footer{
    width: 100%;
    height: 100px;
    background-color: var(--lightgrey);
}
body{
background-color: var(--darkgrey);
display: flex;
flex-direction: column;
}
.section{
    width: 100%;
    height: 100vh;
}